@using Microsoft.AspNetCore.Identity
@using InspireMe.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav gap-3">
@if (SignInManager.IsSignedIn(User))
{
   
   
      
        <li class="nav-item ">
            <form asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm">
                @Html.AntiForgeryToken()
                <span>Hello, @User.Identity.Name!</span>
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="register"  asp-controller="Auth" asp-action="Login">Login</a>
    </li>
        <li class="nav-item">
            
            <a class="nav-link text-dark" id="login" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
}
</ul>
