@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>
   
    <div class="m-4">
    <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div>
        <!--<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Google">Login with Google</a>-->
        <a asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Google" class="btn btn-danger">
            Login with Google
        </a>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
